<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your notes</title>
  <style>
    body {
      background: linear-gradient(to right, green, rgb(112, 240, 191));
    }

    h1, p {
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Your notes:</h1>
  <p>
    <%= note %> 
  </p>
  <form action="/" method="get">
    <button type="submit">Go back</button>
  </form>
</body>
</html>